


<html>
    
    <head>
        
        <title>TODO supply a title</title>
        
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <link rel="stylesheet" href="jq.css" type="text/css" />
        
        <script type="text/javascript" src="jquery-2.1.0.js"></script>
        <script type="text/javascript" src="jq.js"></script>
        <script type="text/javascript" src="jquery.validate.js"></script>

    </head>
    
    
    <body>
        
       
            
        <div id="page">

            <form method="POST">

                <div class="row">
                    <label>Imię:</label>
                    <input type="text" name="form[name]" value="" placeholder="Imię" data-type="text" data-length="5"/>
                </div>

                <div class="row">
                    <label>Nazwisko:</label>
                    <input type="text" name="form[surname]" value="" placeholder="Nazwisko" data-type="text" data-length="3"/>
                </div>

                <div class="row">
                    <label>Email:</label>
                    <input type="email" name="form[email]" value="" placeholder="Email" data-type="email" />
                </div>

                <div class="row">
                    <label>Telefon:</label>
                    <input type="text" name="form[phone]" value="" placeholder="Telefon" data-type="number" data-length="9"/>
                </div>
                
                <div class="row">
                    <label>Akceptacja warunkow</label>
                    <input type="checkbox" name="form[terms]"  value="1" />
                </div>

                <div class="row submit">
                    <input type="submit" value="Wyślij" />
                </div>

            </form>

        </div>

        
    
        
    
    </body>
    
</html>