.myLabel {
	text-align: right;
}

.inputAndError {
	text-align: left;
}
.myListGroup {
	background-color: black !important;
	border-color: black !important;
}


th, td {
	text-align: center;
}

.error {
	border-color: red !important;
	color: red;
	text-align: left;
}

.valid {
	border-color: green !important;
	color: green;
}

input[type="radio"], input[type="checkbox"] {
	margin-bottom: 10px;
	width: 30px;
}

select {
	margin-bottom: 10px;
	height: 26px;
}

input {
	margin-bottom: 10px;
}

table input {
	margin: 0px;
	padding: 0px;
}

.tableTitle {
	background-color: #999999;
}

.rowTitle {
	background-color: #d9d9d9;
}

.login-container {
	margin-top: 20px;
	width: 40%;
	left: 30%;
	position: absolute;
}

.login-card {
	width: 80%;
	margin: auto;
}

.login-form {
	padding: 10%;
}

.form-control {
	width: 150px;
}

.ignore {
	
}

.payment {
	width: 100%;
}

.paymentButton {
	color: #C3C3C3 !important;
	background-color: #020202 !important;
}