.myLabel {
	text-align: right;
	
	
}

.inputAndError {
	text-align: left;
	
}

th, td {
	text-align: center;
}

.error {
	border-color: red !important;
	color: red;
	text-align: left;
}

.valid {
	border-color: green !important;
	color: green;
}

input[type="radio"], input[type="checkbox"] {
	margin-bottom: 10px;
	width: 30px;
	
}
select{
	margin-bottom: 10px;
height: 26px;
	
}
input {
	margin-bottom: 10px;

}